[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[packages]

[dev-packages]
black = {version = "==21.7b0", markers = "python_version == '3.8'"}
flake8 = ">=3.8.2"
isort = {version = ">=4.3.21", extras = ["pipfile"], markers = "python_version == '3.8'"}
pytest-cov = ">=2.9.0"
