[[source]]
name = "aliyun"
url = "https://mirrors.aliyun.com/pypi/simple"
verify_ssl = true

[packages]

[dev-packages]
black = ">=22.12.0"
flake8 = ">=5.0.4"
isort = ">=5.10.1"
pytest-cov = ">=2.9.0"
