name: Build

on:
  push:
    branches: [ master, dev ]
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ 3.7, 3.8, 3.9, '3.10' ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v2
      - name: Set up python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install requirements
        run: |
          python -m pip install -U pip pipenv
          pipenv sync --system --dev
      - name: Test all
        if: matrix.python-version == 3.9
        run: make test
      - name: Only Pytest
        if: matrix.python-version != 3.9
        run: make pytest
